/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
*/

* {
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    background-color: #000;
}

.container {
    width: 100%;
    max-width: 1092px;
    margin: 0 auto;
    padding: 0 32px;
}

a {
    text-decoration: none;
}

/* header */

.header {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

.header__link {
    padding: 10px 30px;
}

/* btn */

.btn {
    padding: 8px 30px;
    border: 1px solid #fff;
    border-radius: 8px;
    transition: all 0.1s linear;
}

.btn.light {
    color: #000;
    background-color: #fff;
    transition: all 0.1s linear;
}

.btn:hover {
    background-color: #0a0a0a;
}

.btn.light:hover {
    background-color: #d1d1d1;
    border: 1px solid #d1d1d1;
}

/* intro */

.intro {
    text-align: center;
    margin-top: 130px;
}

.intro__title {
    font-size: 80px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 14px;
}

.intro__text {
    color: #ffffff80;
}

/* hills */

.hills {
    margin: 66px 0;
}

.hills__title {
    font-size: 40px;
    line-height: 1.35;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}

.hills__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.hills__text {
    color: #ffffff80;
    margin-bottom: 24px;
}

.hills__inner {
    display: flex;
}

.hills__block {
    width: 50%;
}

.hills__video {
    float: right;
}

.hills__video-2 {
    display: none;
}

.hills__video-3 {
    display: none;
}

/* gallery */

.gallery {
    margin-bottom: 66px;
}

.gallery__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.gallery__inner {
    display: flex;
}

.gallery__block {
    display: flex;
}

.gallery__imgs {
    display: flex;
    flex-direction: column;
}

.gallery__text {
    margin-left: 75px;
}

.gallery__text p {
    color: #ffffff80;
    margin-bottom: 42px;
}

.gallery__text p:last-child {
    margin-bottom: 0;
}

/* view */

.view {
    background: url(img/view.png) no-repeat;
    background-size: cover;
    padding: 56px 0 82px 26.6%;
    border-radius: 8px;
}

.view__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

.view__sbutitle {
    font-size: 14px;
    line-height: 1.2;
}

/* other */

.other {
    margin: 66px 0
}

.other__title {
    font-size: 40px;
    line-height: 1.35;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}

.other__inner {
    display: flex;
}

.other__block {
    margin-right: 16px;
    width: 33.333%;
    height: 220px;
    padding: 110px 32px 17px;
    border-radius: 8px;
    transition: all 0.2s linear
}

.other__block:last-child {
    margin-right: 0;
}

.other__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
}

.other__text {
    color: #ffffff80;
    font-size: 14px;
    line-height: 1.2;
}

.other__block:hover {
    padding-top: 105px;
}

/* copy */

.copy {
    text-align: center;
    color: #ffffff80;
    margin-bottom: 137px;
}

/* media */

@media (max-width: 768px) {

    .nav {
        display: none;
    }

    /* hills */

    .hills {        
        text-align: center;
    }

    .hills__inner {
        flex-direction: column-reverse;
    }

    .hills__block {
        width: 100%;
    }

    .hills__video {
        display: none;
    }

    .hills__video-2 {
        display: block;
        margin-bottom: 16px;
    }

    /* gallery */

    .gallery__inner {
        flex-direction: column;
        text-align: center;
    }

    .gallery__text {
        margin-left: 0;
    }

    .gallery__block:first-child {
        margin-bottom: 75px;
    }

    .gallery__block img {
        width: 50%;
    }

    .gallery__imgs {
        width: 50%;
    }

    .gallery__imgs img {
        width: 100%;
    }

    /* other */

    .other__inner {
        flex-direction: column;
    }

    .other__block {
        width: 100%;
        margin-bottom: 16px;
    }

    .other__block:last-child {
        margin-bottom: 0;
    }

}

@media (max-width: 375px) {

    .container {
        padding: 0 16px;
    }

    /* hills */

    .hills__video {
        display: none;
    }

    .hills__video-2 {
        display: none;
    }

    .hills__video-3 {
        display: block;
        margin-bottom: 37px;
    }

    /* gallery */

    .gallery__block:first-child {
        margin-bottom: 30px;
    }

    /* view */

    .view {
        padding-left: 32px;
        background: url(img/view-2.png) no-repeat;
    }

    /* other */
    
    .other {
        margin-bottom: 27px;
    }

    /* copy */

    .copy {
        margin-bottom: 42px;
    }

}